{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}
    <div class="mt-5 rounded bg-gradient">
    	<h2 class="m-2 default-font-color"><strong>{{ content }}</strong></h2>
        <p class="m-2 default-font-color">{{ text_on_page }}</p>
    </div>

{% endblock %}

{% block footer %}
    <footer class="py-3 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; romanvlad 2024</p>
        </div>
    </footer>
{% endblock %}

